<app-toolbar></app-toolbar>

<div class="container">
  <h1>Detalhes do Paciente</h1>
  <div *ngIf="patient">
    <h2>{{ patient.nomeCompleto }}</h2>
    <p>Convênio: {{ patient.convenio }}</p>
    <p>Contato de Emergência: {{ patient.contatoEmergencia }}</p>
    <p>Alergias: {{ patient.alergias }}</p>
    <p>Cuidados Específicos: {{ patient.cuidadosEspecificos }}</p>

    <h3>Histórico de Medicação</h3>
    <ul *ngIf="patient.medicamentos && patient.medicamentos.length > 0">
      <li *ngFor="let medicamento of patient.medicamentos">
        <strong>{{ medicamento.nome }}</strong> - {{ medicamento.data }} - {{ medicamento.hora }}
        <button (click)="editMedicamento(medicamento)">Editar</button>
        <button (click)="deleteMedicamento(medicamento.id)">Excluir</button>
      </li>
    </ul>
    <p *ngIf="!patient.medicamentos || patient.medicamentos.length === 0">Nenhuma medicação registrada.</p>
  </div>
</div>
