#paciente-editar-deletar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#paciente-editar-deletar button {
  height:30px;
  width:30px;
   cursor:pointer;
   background-color: transparent;
   border: transparent;

   & :hover{
    color: red;
    font-size: 200%;
   }
}

#paciente-editar-deletar h2 {
  padding-top: 30px;
}



.container {
    margin-left: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
  width: 20%;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}

.infos-paciente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border-style: groove;
    width: 110%;
}

h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: large;
}

.lista-historico-medicacao {
    flex: 1;
    display: flex;
    margin: 5px;
    width: 100%;
    list-style: none;
    border-style: groove;
    border-radius: 10px;
    font-size: 15px;
    padding: 15px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lista-historico-medicacao button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
      &:hover {
      background-color: #0056b3;
    } &:active {
      transform: scale(0.95);
    }
  }