@import "primeicons/primeicons.css";

$main-color: #0fa3b1;

.sidenav-container {
  display: flex;
  height: calc(100vh - 60px);
  background-color: transparent;
  position: fixed;

}

mat-sidenav {
  width: 17rem;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  padding-top: 3.3rem;
}

mat-sidenav button {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  display: block;
}

mat-sidenav button:hover {
  background-color: #06585f;
}

mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-botao-menu {
  margin-top: 0;
  position: fixed;
  z-index: 9999;
  border: none;
  outline: none;
  background-color: $main-color;
  color: black;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0px;
}

#botao-sair:hover{
  color: red;
  background-color: rgba(247, 231, 231, 0.801);
}
