<app-toolbar></app-toolbar>
<app-menu-lateral></app-menu-lateral>

<div class="container">
  <h1>Histórico de Medicação</h1>
  <div class="search-bar">
    <input type="text" id="search-bar-input" placeholder="Para filtrar digite aqui o nome ou ID do paciente" [(ngModel)]="searchTerm" (input)="onSearch()" />
    <div class="search-results" *ngIf="searchResults.length">
    </div>
  </div>

  <div *ngIf="filteredMedications.length">
    <h2>Registros de Medicação (ordem cronológica)</h2>
    <ul>
      <li *ngFor="let record of filteredMedications" (click)="viewPatientDetails(record.pacienteId)" class="registro-historico-medicacao">
        <p><strong>{{ record.nome }}</strong></p>
        <p>{{ record.data | date:'dd/MM/yyyy' }}</p>
        <p>{{ record.hora }}</p>
        <p>{{ record.pacienteNome }}</p>
      </li>
    </ul>
  </div>
  <p *ngIf="!filteredMedications.length && !searchTerm">Nenhum registro de medicação encontrado.</p>
</div>
