.container {
    padding: 1rem;
    margin: 1rem auto;
    background-color: transparent;
    max-width: 100%;
    flex: 1;
    transition: margin-left 0.3s ease;
  }
  
  .statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .stat {
    padding: 13px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.336);
    margin: 3px;
  }
  
  .stat h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    
  }
  
  .stat p {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  
  .search-bar {
    margin-bottom: 2rem;
  }
  
  .search-bar input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e0e0e0;
  }
  
  .patient-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(33% - 1rem);
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .card h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .card p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .card button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .card img {
    width: 30%;
  }
  
  @media (max-width: 480px) {
    .container {
      
      padding: 0.5rem;
      margin: 0.5rem auto;
      margin-top: 0;
      margin-left: 18rem;
    }
  
    .statistics {
      flex-direction: column;
    }
  
    .stat {
      margin-bottom: 1rem;
    }
  
    .card {
      width: 100%;
    }
  }
  
  @media (max-width: 720px) {
    .container {
      padding: 1rem;
      margin: 1rem auto;
      margin-top: 0;
      margin-left: 18rem;
    }
  
    .card {
      width: calc(50% - 1rem);
    }
  }
  
  @media (max-width: 1080px) {
    .container {
      padding: 1.5rem;
      margin: 1.5rem auto;
      margin-top: 0;
      margin-left: 18rem;
    }
  
    .card {
      width: calc(33% - 1rem);
    }
  }
  
  @media (min-width: 1081px) {
    .container {
      padding: 2rem;
      margin: 2rem auto;
      margin-top: 0;
      margin-left: 18rem;
    }
  }
  